.footer {
    padding: 1rem 0;
    background-color: #040c18;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 1.2rem;
    color: #4298b5;
    a {
      color: #4298b5;
      text-decoration: none;
      margin: 0 10px;
    }
  }